.contact-page {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-family:'Josefin sans';
    color: var(--quaternary-color);
}

.contact-title{
    font-size: 2rem;
    margin-top: 20px;
    justify-self: center;
    color: var(--primary-dark-color);
}

.contact-box {
    width: 100%;
    height: 80%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form {
    width: 70%;
    height: 100%;
    /* background-color: beige; */
}

.dados {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field {
    margin: 0;
    margin-bottom: 10px;
    width: 32%;
    height: 2.5rem;
    display: flex;
    align-items: center;
    border: 1px solid var(--quaternary-color);
    /* padding: 20px; */
    /* justify-content: center; */
    /* background-color: aqua; */
}

.message {
    width: 100%;
    height: 40%;
    align-items: flex-start;
}



.fa-solid {
    display: flex;
    align-items: center;
    justify-content: center;
}

.input {
    width: 80%;
    height: 100%;
    padding: 0;
    border: none;
    background-color: var(--primary-light-color);
}

.text-area {
    width: 90%;
    height: 90%;
    padding: 0;
    padding-top: 10px;
    border: none;
    background-color: var(--primary-light-color);
    resize: none;
}


.button {
    width: 30%;
    height: 2rem;
    border: none;
    background-color: var(--quaternary-color);
    color: white;
    float: right;
}

.button:hover {
    cursor: pointer;
}

