.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-page-title {
    font-size: 2rem;
    font-family:'Josefin sans';
    color: var(--primary-dark-color);
}