.footer {
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100vw;
    height: 130px;
    background-color: var(--secondary-color);
    display: flex;
    justify-content: center;
}

.footer-container {
    width: 40%;
    max-width: 1200px;
}